.dialog-dropfiles .panda-icon svg {
    display: block;
    margin: 48px 73px 33px;
    width: 110px;
}

.dialog-dropfiles .dropfilestitle {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    display: block;
    max-width: 170px;
    margin: 0 0 40px 0;
}

.dropwizard {
    max-width: 27rem;
}

.dropwizard img {
    display: block;
    width: 8rem;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

.dropwizard .icon-title {
    display: block;
    margin: .8rem 0;
    padding: .2rem;
    font-size: 3rem;
    line-height: 3.2rem;
    line-break: anywhere;
    user-select: text;
    font-weight: 700;
    border-radius: .2rem;
    transition: background-color 250ms ease;
}

.dropwizard .icon-title:hover, .dropwizard .icon-title:focus {
    background: var(--on-card-background);
    box-shadow: var(--box-shadow);
}

.dropwizard .tags-input {
    display: block;
    margin: 0 0 1rem 0;
}