.dialog>.datastore-dialog {
    display: grid;
    grid-template-columns: 7rem auto;
    width: 31rem;
    gap: 1rem;
}

.datastore-dialog .panda-icon svg {
    display: block;
    width: 4.5rem;
    margin-bottom: 0.5rem;
}

.datastore-dialog center {
    margin-left: -0.57rem;
    margin-right: 0.1rem;
}

.datastore-dialog .small-text {
    width: 14rem;
    overflow: hidden;
    font-size: .6rem;
    font-weight: 400;
    text-align: right;
}

.datastore-dialog center button {
    margin: 0;
    padding: 0.5rem .7rem;
    display: block;
    box-shadow: none;
    background: none;
    width: 100%;
    text-align: left;
}

.datastore-dialog center button:hover {
    background-color: var(--on-card-background);
    box-shadow: var(--box-shadow);
    transform: none;
}

.datastore-dialog>list item {
    align-items: center;
}

.datastore-dialog>list.style2 item .left {
    font-size: 1rem;
}

@media (display-mode: standalone) {
    @keyframes fadeBackdrop {
        from {
            backdrop-filter: blur(0px);
        }
        to {
            backdrop-filter: blur(4px);
        }
    }
    .dialog-backdrop.open {
        background-color: transparent !important;
    }
}

.datastore-dialog {
    width: 35rem;
}

.datastore-dialog list.nomargin {
    margin: unset;
    width: 100%;
}

.split-view .button-list {
    align-items: stretch;
    gap: 10px;
}