.homebar {
    position: relative;
    display: grid;
    margin: var(--gap) auto;
    gap: var(--gap);
    max-width: var(--max-width);
    grid-template-columns: auto repeat(2, 4.35rem);
    align-items: flex-start;
    height: 4rem;
}
.homebar input {
    background: var(--background-card);
    margin: 0;
    width: auto;
    min-width: 1rem;
    font-size: 1.5rem;
    padding: 1.3rem 1.2rem;
    border-radius: var(--border-radius);
    color: var(--on-card-text);
    box-shadow: none;
}
.homebar .tag-selector {
    position: absolute;
    top: 5rem;
    margin: 0;
    display: none;
    z-index: 100;
    padding: 0.8rem 1.1rem;
    box-shadow: var(--background-card);
    border-radius: var(--border-radius);
    background: var(--background-card);
    color: var(--on-card-text);
}
.homebar .tag-selector.show {
    display: block;
}
.homebar .tag-selector span {
    display: block;
    font-size: .9rem;
    margin: 0rem -1.1rem;
    padding: 0rem 1.8rem 0 1.1rem;
    transition: all 350ms ease;
}
.homebar .tag-selector span.selected, .homebar .tag-selector span:not(.help):hover {
    background-color: var(--on-card-background);
    margin: 0.1rem -1.1rem;
    font-size: 1.1rem;
    padding: 0.2rem 0.7rem .2rem 1.1rem;
    transition: all 150ms ease;
}
.homebar .tag-selector .help {
    font-weight: 400;
    color: var(--default-secondary-color);
    font-size: .8rem;
    text-align: center;
    margin: 0.4rem 0 .2rem;
    padding: 0;
}
.homebar .webgen-icon, .homebar .webgen-svg {
    padding: .9rem 1rem;
    aspect-ratio: 1 / 1;
    border-radius: var(--border-radius);
    user-select: none;
    max-width: 3rem;
    transition: all 250ms ease;
    overflow: hidden;
}
.homebar .webgen-svg {
    display: flex;
    justify-content: center;
    align-content: center;
}
.homebar .webgen-icon {
    font-size: 2.2rem;
    line-height: 1;
    color: var(--on-background-text);
}
.homebar .webgen-svg svg {
    fill: var(--on-background-text);
    transition: all 250ms ease;
    width: 100%;
    height: 100%;
}
.homebar .webgen-icon:hover, .homebar .webgen-svg:hover {
    background: var(--background-card);
    color: var(--on-card-text);
}
.homebar .webgen-svg:hover svg {
    fill: var(--on-card-text);
}
@media (max-width: 700px) {
    .homebar input {
        font-size: 1.3rem;
        padding: 1rem 1.2rem;
    }
    .homebar {
        grid-template-columns: auto repeat(2, 3.7rem);
        height: 3.2rem;
    }
    .homebar .webgen-icon {
        font-size: 2.45rem;
    }
    .homebar .webgen-icon, .homebar .webgen-svg {
        padding: .55rem .6rem;
    }
    .homebar .tag-selector {
        top: 4rem;
    }
}

@media (max-width: 450px) {
    .homebar input {
        font-size: 1rem;
        padding: .8rem 1rem;
    }
    .homebar {
        grid-template-columns: auto repeat(2, 2.8rem);
    }
    .homebar .webgen-icon, .homebar .webgen-svg {
        padding: .49rem .52rem;
    }
    .homebar .webgen-icon {
        font-size: 1.75rem;
    }
    .homebar .tag-selector {
        top: 3.5rem;
    }
}