.image-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: .7rem;
}
.image-list .shell img{
    width: 64px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}