.image-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: .7rem;
    margin: 0 auto;
    max-width: var(--max-width);
}

.image-list .shell img{
    height: 64px;
    min-width: 64px;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    transition: transform 150ms ease;
}
.image-list .shell img:hover {
    transform: scale(1.05);
}