html {
    width: 100%;
    height: calc(100% + 1px);
    display: table;
}

body {
    width: 100%;
    display: table-cell;
}

html, body {
    margin: 0;
    padding: 0;
}

.panda-icon svg {
    fill: var(--on-card-text);
}